<div style="width: 400px; margin: auto;">
  <div *ngIf="currentReport" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="report">Report</label>
        <input
          type="text"
          class="form-control"
          id="report"
          [(ngModel)]="currentReport.report"
          name="report"
        />
      </div>
      <div class="form-group">
        <label for="avatar">Avatar</label>
        <input
          type="text"
          class="form-control"
          id="avatar"
          [(ngModel)]="currentReport.avatar"
          name="avatar"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentReport.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentReport.similarityLevel"
      (click)="updateReport(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentReport.similarityLevel"
      class="badge badge-primary mr-2"
      (click)="updateReport(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteReport()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success"
      (click)="updateReport()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentReport">
    <br />
    <p>Cannot access this Report...</p>
  </div>
</div>
