<div style="width: 400px; margin: auto;">
  <div *ngIf="currentReport" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="nickname">Nickname</label>
        <input
          type="text"
          class="form-control"
          id="nickname"
          [(ngModel)]="currentReport.nickname"
          name="nickname"
        />
      </div>
      <div class="form-group">
        <label for="avatar">Avatar</label>
        <input
          type="text"
          class="form-control"
          id="avatar"
          [(ngModel)]="currentReport.avatar"
          name="avatar"
        />
      </div>

      <div class="form-group">
        <label for="similarity-level">Similarity Level</label>
        <select
          name="similarityLevel"
          class="form-control"
          id="similarity-level"
          [(ngModel)]="currentReport.similarityLevel"
        >
          <option value="0">Low</option>
          <option value="1">Medium</option>
          <option value="2">High</option>
        </select>
      </div>
    </form>

    <button
      type="submit"
      class="btn btn-primary mr-2"
      (click)="updateReport()"
    >
      Update
    </button>


    <button class="btn btn-danger" (click)="deleteReport()">
      Delete
    </button>

    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentReport">
    <br />
    <p>Cannot access this Report...</p>
  </div>
</div>
